.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;

  .title {
    margin: 10px 0;
  }

  .success, .error{
    color: white;
    padding: 5px;
    margin: 5px 0 15px;
  }

  .success{
      background: green;
  }

  .error{
    background: red;
  }
  .buttons {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 800px) {
      

      .google-sign-in{
        width: 180px;
      }
    }
  }

  @media screen and (max-width: 800px) {
    width: 85vw;
  }
}
