.sign-up {
  display: flex;
  flex-direction: column;
  width: 380px;

  .title {
    margin: 10px 0;
  }

  .success, .error{
    color: white;
    padding: 5px;
    margin: 5px 0 15px;
  }

  .success{
      background: green;
  }

  .error{
      background: red;
  }

  @media screen and (max-width: 800px) {
    width: 80vw;
    margin-top: 50px;
  }
}
